.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  background-color: #37474f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
      display: flex;
      justify-content: right;
      font-size: calc(10px + 2vmin);
      color: white;
}

#logo {
    width: 150px;
    padding: 5px;
}

.InputForm {
    margin-top: 20px;
    justify-content: center;
}

.form-label {
    font-size: large;   
}

.checkbox-list {
    text-align: left;
    padding-left: 10%;
}

.App-link {
  color: #61dafb;
}

.btn.btn-primary {
    background-color: #1976d2;
}

.result-row {
    margin-bottom: 100px;
}

.high-risk .card-header {
    background-color: #ef5350;
    color: white;
}

.medium-risk .card-header {
    background-color: #ffa726;
    color: white;
}

.low-risk .card-header {
    background-color: #66bb6a;
    color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
